.auth-img {
  width: 80%;
  margin-top: 1rem;
  margin-left: auto;
}
.login-box {
  width: 100%;
}
.login-google {
  background-color: turquoise;
  color: #262626;
  font-family: "Signika Negative", sans-serif;
  border-radius: 0.3rem;
  border: 1px solid turquoise;
  padding: 0.5rem 3rem;
  cursor: pointer;
  margin-bottom: 1.8rem;
}

.login-col-1 > h1 {
  font-size: 2rem;
}

.login-google:hover {
  color: var(--primary-color);
  background-color: var(--background-color);
}

.email-box {
  width: 90%;
  text-align: center;
}

.forgot-pass {
  float: right;
  width: 45%;
  cursor: default;
}

.email-box > input {
  cursor: text;
  width: 80%;
  padding: 0.8em;
  border-radius: 0.3em;
  margin: 0.5em;
  margin-left: 3em;
  text-align: center;
  padding-bottom: 0.6em;
  border: 1px solid #262626;
  cursor: text;
  font-family: "Signika Negative", sans-serif;
}

.login-button {
  color: #262626;
  background-color: turquoise;
  margin: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  padding: 0.6rem 4rem;
  font-size: 1rem;
  border: none;
  border: 1px solid #262626;
  font-family: "Signika Negative", sans-serif;
}
.login-button-2 {
  color: #262626;
  background-color: turquoise;
  font-size: 1rem;
  padding: 0.6rem 1.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  border: none;
  border: 1px solid #262626;
  font-family: "Signika Negative", sans-serif;
}
.login-button:hover {
  background-color: #262626;
  color: turquoise;
}

.login-button-2:hover {
  background-color: #262626;
  color: turquoise;
}

.login-img {
  width: 80%;
  margin-top: 1rem;
  margin-left: auto;
}

.login-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
}

@media only screen and (max-width: 768px) {
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
  }

  .login-button {
    padding: 0.5rem 2rem;
  }
  .login-button-2 {
    padding: 0.5rem 0.7rem;
  }

  .auth-img {
    display: none;
    position: absolute;
  }
}
