.auth-img {
  width: 80%;
  margin-top: 1rem;
  margin-left: auto;
}
.login-box {
  width: 100%;
}
.login-google {
  background-color: turquoise;
  color: #262626;
  font-family: "Signika Negative", sans-serif;
  border-radius: 0.3rem;
  border: 1px solid turquoise;
  padding: 0.5rem 3rem;
  cursor: pointer;
  margin-bottom: 1.8rem;
  font-size: 1rem;
}

.login-col-1 > h1 {
  font-size: 2rem;
}

.login-google:hover {
  color: var(--primary-color);
  background-color: var(--background-color);
}

.email-box {
  width: 90%;
  text-align: center;
}

.password {
  margin-left: 10%;
  font-size: 1.2rem;
}
.input-login {
  background-color: transparent;
  color: white;
  width: 80%;
  padding: 0.8em;
  margin: 0.5em;
  margin-left: 3em;
  text-align: center;
  padding-bottom: 0.6em;
  font-size: 1rem;
  border: 1.5px solid turquoise;
  outline: 0;
  border-radius: 0.3rem;
  cursor: text;
  font-family: "Signika Negative", sans-serif;
}

.input-login:focus {
  transform: scale(1.05);
  position: relative;
  transition: transform 0.2s;
  z-index: 2;
}

.login-button {
  color: #262626;
  background-color: turquoise;
  margin: 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
  padding: 0.4rem 3rem;
  font-size: 1.3rem;
  border: 1px solid turquoise;
  font-family: "Signika Negative", sans-serif;
}
.login-button-2 {
  color: #262626;
  background-color: turquoise;
  font-size: 1.3rem;
  padding: 0.4rem 1.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
  border: 1px solid turquoise;
  font-family: "Signika Negative", sans-serif;
}
.login-button:hover {
  color: turquoise;
  background-color: #262626;
  transform: scale(1.08);
  transition: transform 0.2s;
}

.login-button-2:hover {
  color: turquoise;
  background-color: #262626;
  transform: scale(1.08);
  transition: transform 0.2s;
}

.login-img {
  width: 80%;
  margin-top: 1rem;
  margin-left: auto;
}

.login-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
}

@media only screen and (max-width: 768px) {
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
  }

  .login-button {
    padding: 0.3rem 1rem;
  }
  .login-button-2 {
    padding: 0.3rem 0.4rem;
  }

  .auth-img {
    display: none;
    position: absolute;
  }
  .input-login {
    width: 100%;
    margin-left: 2%;
  }
}
