.video-container {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}

.iframe-box {
  display: flex;
  margin: 1rem;
  border: 1px solid #262626;
  box-shadow: 0 0.1rem 0.3rem #262626, 0 0.5rem 1rem black;
}

.result {
  font-size: 1.3rem;
  text-align: left;
  margin: 1rem;
}

.yt-img {
  width: 100%;
}
.empty-img {
  width: 50vw;
  margin-left: 40%;
}

@media (max-width: 768px) {
  .video-container {
    color: white;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    align-items: center;
  }
  .empty-img {
    width: 80vw;
    margin-left: 10%;
  }
}
@media (max-width: 855px) {
  .video-container {
    color: white;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    align-items: center;
  }
}
