.likepage-container {
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  align-items: center;
  text-align: left;
}

#likepage-container-skin {
  margin: 1.5rem;
  box-shadow: 0 0.1rem 0.3rem #262626, 0 0.5rem 1rem black;
}

.img-cls {
  object-fit: contain;
}

.delete-icon {
  z-index: 2;
  position: absolute;
  cursor: pointer;
  margin-left: -1rem;
  color: white;
}

.delete-icon:hover {
  color: red;
}

@media (max-width: 768px) {
  .likepage-container {
    display: grid;
    width: 100%;
  }
}
