.playlist-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
  max-width: 90%;
  inset: 0;
  margin: 4%;
}
.playlistpage-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  max-width: 90%;
  inset: 0;
  margin: 2%;
}
.playlist-card {
  width: 100%;
  margin-left: 5%;
}

.playlistcard-typo {
  width: 70%;
  text-align: left;
  object-fit: contain;
  margin-left: 15%;
  overflow: hidden;
}

.playlistcard-img {
  object-fit: contain;
  width: 70%;
}

.playlistcard-skin {
  width: 100%;
}

#delete-icon {
  z-index: 2;
  position: absolute;
  cursor: pointer;
  margin-left: -1rem;
  color: white;
}
.empty-img-col-playlist {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-left: 34.1%;
}
@media (max-width: 850px) {
  .playlist-container {
    display: grid;
    grid-template-columns: 1fr;
    color: white;
    max-width: 90%;
    inset: 0;
    margin: 4%;
  }

  .playlistpage-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .empty-img-col-playlist {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 5%;
    width: 100%;
  }
}
