footer {
  color: white;
  border-top: 1px solid turquoise;
  font-size: 1.2rem;
  margin-top: 1em;
  margin-bottom: 0.5rem;
}

footer > a {
  margin: 0.8rem;
  font-size: 1.5rem;
  color: white;
}

footer > a:hover {
  color: grey;
}
