@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Fira+Sans:wght@300;400&family=Gentium+Book+Plus&family=Lato&family=Libre+Franklin:wght@100&family=Lora:ital,wght@1,500&family=Macondo&family=Oleo+Script+Swash+Caps&family=PT+Serif:ital,wght@0,400;1,700&family=Patua+One&family=Permanent+Marker&family=Roboto&family=Roboto+Slab:wght@300&family=Signika+Negative:wght@500;600&display=swap");

body {
  background-color: black;
  color: turquoise;
  font-family: "Signika Negative", sans-serif;
}

.header-top-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  /* box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15), 0 0.5rem 1rem rgba(0, 0, 0, 0.2); */
  width: 100%;
  font-family: "Signika Negative", sans-serif;
  border-bottom: 1px solid turquoise;
}

.app-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-title {
  margin-left: 0.5rem;
  cursor: pointer;
  font-family: "Arvo", sans-serif;
  color: turquoise;
  text-decoration: none;
}

.app-title > img:hover {
  transform: rotate(360deg);
  transition: transform 0.7s ease-in-out;
}

.header-bottom-container > input {
  width: 30%;
  padding: 0.7rem;
  border-radius: 0.2rem;
  text-align: center;
  outline: 0;
  border: 1px solid grey;
  cursor: default;
}

.header-bottom-container > input:focus {
  transition: width 0.35s ease-in-out;
  width: 40%;
  border: 1px solid turquoise;
}

.nav-links {
  margin: 1rem;
}

.links-nav {
  margin: 1rem;
  color: #f5f5f4;
  text-decoration: none;
  cursor: pointer;
}

.links-nav:hover {
  border-bottom: 2px solid grey;
  transition: width 0.35s ease-in-out;
  color: turquoise;
}

.header-bottom-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #262626;
  color: darkgray;
  padding: 1rem;
  font-size: 1.2rem;
}

.header-top-container > article {
  color: white;
}

.btn-login {
  margin: 0.6rem;
  color: black;
  background-color: turquoise;
  padding: 0.4rem 2rem;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 1.3rem;
  font-family: "Signika Negative", sans-serif;
  border: none;
}

.btn-login:hover {
  background-color: aqua;
}

.hamburger-icon {
  display: none;
}

.length-value {
  position: relative;
  bottom: 1.2rem;
  background-color: turquoise;
  color: #262626;
  padding: 0.3rem 0.5rem;
  border-radius: 6rem;
  outline: 0;
  right: 0.8rem;
  font-size: 0.8rem;
}

.length-value-playlist {
  position: relative;
  bottom: 1.3rem;
  background-color: turquoise;
  color: #262626;
  padding: 0.3rem 0.4rem;
  padding-left: 0.5rem;
  border-radius: 6rem;
  outline: 0;
  right: 0.4rem;
  font-size: 0.8rem;
}
.length-value-watch {
  position: absolute;
  background-color: turquoise;
  color: #262626;
  padding: 0.3rem 0.4rem;
  padding-left: 0.5rem;
  border-radius: 6rem;
  outline: 0;
  margin-top: -1.1rem;
  margin-left: -0.4rem;
  font-size: 0.8rem;
}

@media (max-width: 850px) {
  .header-top-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    font-size: 1rem;
  }

  .nav-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .links-nav {
    margin: 0.5rem;
  }

  .header-top-container > article {
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  .header-top-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }

  .app-title {
    justify-content: center;
  }

  .header-top-container > article {
    display: none;
  }

  .header-bottom-container > input {
    margin-top: 1rem;
  }

  .nav-links {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .links-nav {
    margin: 0.5rem;
  }

  .hamburger-icon {
    display: block;
    margin-left: auto;
    display: flex;
    margin-right: 1rem;
    cursor: pointer;
  }
}
